body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 10px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 60%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button[type="submit"], button[type="button"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

    button[type="submit"]:hover, button[type="button"]:hover {
        background-color: #45a049;
    }

a {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    margin-top: 20px;
}

.product-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

    .product-item button {
        margin-right: 10px;
    }
